@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ajustes mínimos */
html, body { height: 100%; }
/* Banner de gracias */
#gracias { 
  display: none;
}
#gracias:target { 
  display: block;


}
  /* Gracias: oculto por defecto, visible al entrar con #gracias */
#gracias { display: none; }
#gracias:target { display: block; }
