@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ajustes mínimos */
html, body { height: 100%; }
/* Banner de gracias */
#gracias { 
  display: none;
}
#gracias:target { 
  display: block;
}
