@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ajustes mínimos */
body {
  background-color: #f8f9fa; /* gris claro elegante */
}

/* Banner de gracias */
#gracias { 
  display: none;
}
#gracias:target { 
  display: block;


}
  /* Gracias: oculto por defecto, visible al entrar con #gracias */
#gracias { display: none; }
#gracias:target { display: block; }
